body
{
background:url(../images/bg.jpg) repeat-x top;
padding:0;
font-family:Arial, Helvetica, sans-serif;
font-size:11px;
margin:0px auto auto auto;
color:#000;
background-color: #e4e9ec !important;
}
a
{
	text-decoration: none;
}
ul
{
	list-style: none;
}

#main_container{
width:100%;
height:auto;
margin:auto;
padding:0px;
background-color:#FFFFFF;
}
#header{
width:100%;
height:130px;
}
#header img{
    width:100%;
    height:130px;
    max-width:100%;
}
#logo{
float:left;
padding:45px 0 0 15px;
}
#main_content{
clear:both;
}


.languages{
float:right;
width:150px;
padding:8px 0 0 0;
}
.lang_text{
float:left;
padding:0 5px 0 0;
color:#1DA1CF;
}
a.lang{
display:block;
float:left;
padding:0 5px 0 5px;
}
.top_right{
width:728px;
float:right;
}
.big_banner{
float:right;
padding:10px 10px 0 0;
}
/*---------------- menu tab----------------------*/
#menu_tab{
width:100%;
float: left;
background-color:#5A5C5F; 
}
ul.menu {
	width:100%;
list-style-type:none; float:left; display:block;
margin:0px; padding:0px;background-color:#5A5C5F;}

ul.menu > li {
display:inline-block;
font-size:11px;
font-weight:bold;
line-height:36px;
position: relative;
}
.mr-none
{
	margin:0px !important;
}
ul.menu > li:hover > ul
{
	display: block;
}
ul.menu > li > ul {
	display: none;
	position: absolute;
	z-index: 3;
	min-width: 200px;
	background-color: white;
	border: 1px #F0F4F5 solid;
	border-top:0px;
	margin: 0px;
	padding: 0px;
}
ul.menu > li > ul > li
{
	display: block;
	width: 100%;
	border-bottom: 1px #F0F4F5 solid;
}
ul.menu > li > ul > li:last-child
{
	border-bottom: 0px;
}
ul.menu > li > ul > li > a
{
	display: block;
	color: black;
	padding: 15px 10px;
	line-height: 0px;
}
ul.menu > li > ul > li a:hover
{
	background-color: #E1E1E1;
}
a.nav:link, a.nav:visited {
display:block;  
padding:0px 20px;
 text-decoration:none;
 color:#fff;}

a.nav:hover{
  color:#199ECD;}

/*----------------crumb_navigation-------------*/
.crumb_navigation{
width:980px;
height:15px;
padding:5px 10px 0 20px;
color:#333333;
background:url(../images/navbullet.png) no-repeat left;
background-position:5px 8px;
}
.crumb_navigation a{
color:#0fa0dd;
text-decoration:underline;
}
span.current{
color:#0fa0dd;
}

/*-------------left_content------------------*/
.left_content{
width:100%;
}
.title_box{

width:100%;
height:30px;
background:url(../images/menu_title_bg.gif) no-repeat center;
text-align:center;
font-size:13px;
font-weight:bold;
color:#159dcc;
line-height:30px;
-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
/*--------left menu---------*/
ul.left_menu{
width:100%;
padding:0px;
margin:0px;
list-style:none;
}
ul.left_menu li{
margin:0px;
list-style:none;
}
ul.left_menu li.odd a{
width:166px;height:25px;display:block; border-bottom:1px #e4e4e4 dashed;
text-decoration:none;color:#504b4b;padding:0 0 0 14px; line-height:25px;
}
ul.left_menu li.even a{
width:166px;height:25px;display:block; border-bottom:1px #e4e4e4 dashed; background-color:#f0f4f5;
text-decoration:none;color:#504b4b;padding:0 0 0 14px; line-height:25px;
}
ul.left_menu li.even a:hover, ul.left_menu li.odd a:hover{
color:#000; text-decoration:underline;
}

.border_box{
width:100%;
height:auto;
text-align:center;
background:url(../images/box_bottom_bg.gif) no-repeat center bottom;
}
.product_title{
color:#ff8a00;
padding:5px 0 5px 0;
font-weight:bold;
}
.product_title a{
text-decoration:none;
color:#ff8a00;
padding:5px 0 5px 0;
font-weight:bold;
}
.product_title a:hover{
color:#064E5A;
}
.product_img{
padding:5px 0 5px 0;
text-align: center;
}
.product_img img
{
	width:100px;
height:74px;
}
.prod_price{
padding:5px 0 5px 0;
}
span.reduce{
color:#666666;
text-decoration:line-through;
}
span.price{
color: #ff8a00;
}
/*----------newsletter--------------*/
input.newsletter_input{
width:150px;
height:16px;
border:1px #ddd9d9 solid;
margin:10px 0 5px 0;
font-size:12px;
padding:3px;
color:#999999;
}
a.join{
width:17px;
display:block;
margin:0px 0 5px 110px;
padding:2px 8px 6px 8px;
text-decoration: underline;
color:#169ECC;
}
.banner_adds{
width:100%;
text-align:center;
padding:10px 0 10px 0;
}
/*--------------oferta------------------*/
.oferta{
width:100%;
padding:10px;
background:url(../images/slider_bg.gif) no-repeat center;
float:left;
margin:0px;
-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.oferta_img{
float:left;
padding:10px 10px 0 10px;
}
.oferta_title{
font-size:15px;
color:#159dcc;
font-weight:bold;
}
.oferta_details{
padding: 20px;
}
.oferta_text{
padding:5px 0 5px 0;
font-size:12px;
color:#159dcc;
text-align:justify;
line-height:15px;
}
/*center content--------------------------*/
.center_content{
width:100%;
float:left;
}
.center_title_bar{
width:100%;
float:left;
margin:15px 0px;
font-size:12px;
color:#159DCC;
font-weight:bold;
background-color: #E1E1E1;
border: 1px solid #E1E1E1;
border-radius: 4px;
text-align: left;
padding:8px 5px;
}

/*----------------------right content--------------*/
.right_content{
width:100%;
float:left;
padding:0px;
}
.shopping_cart{
width:100%;
height:84px;
text-align:center;
}
.cart_title{
font-size:12px;
font-size:12px;
color:#847676;
font-weight:bold;
padding:0px;
}
.cart_details{
width:115px;
float:left;
padding:5px 0 0 15px;
text-align:left;
}
.cart_icon{
float:left;
padding:5px 0 0 5px;
}
span.border_cart{
width:100px;
height:1px;
margin:3px 0 3px 0;
display:block;
border-top:1px #999999 dashed;
}
/*---------prod_box----------*/
.prod_box{
height:auto;
display: block;
padding:0px !important;
position: relative;
}
.pdright-10-im
{
	padding-right:10px !important;
}
.pdbottom-10-im
{
	padding-bottom:10px !important;
}
.center_prod_box{
	position: relative;
width:100%;
height: 145px; 
text-align:center;
padding:0px; 
margin:0px; 
border:1px #F0F4F5 solid;
}
.prod_details_tab{
width:100%;
float:left;
}
img.left_bt{
float:left;
padding:6px 0 0 6px;
}
a.prod_details{
width:75px;
height:24px;
display:block;
float:right;
background:url(../images/link_bg.gif) no-repeat center;
margin:2px 5px 0 0;
text-align:center;
line-height:24px;
text-decoration:none;
color:#159dcc;
}

a.prod_compare{
width:75px;
height:24px;
display:block;
float:left;
background:url(../images/link_bg.gif) no-repeat center;
margin:2px 0 0 5px;
text-align:center;
line-height:24px;
text-decoration:none;
color:#159dcc;
}
a.prod_buy{
width:75px;
height:24px;
display:block;
float:left;
background:url(../images/link_bg.gif) no-repeat center;
margin:2px 0 0 5px;
text-align:center;
line-height:24px;
text-decoration:none;
color: #006600;
}
/*---------prod_box_big----------*/
.prod_box_big{
width:554px;
height:auto;
float:left;
padding:10px 10px 15px 15px;
}
.center_prod_box_big{
width:554px;height: auto;float:left; text-align:center;padding:0 0 10px 0; margin:0px;border:1px #F0F4F5 solid;
}
.product_img_big{
width:170px;
padding:10px 0 0 10px;
float:left;
}
.details_big_box{
width:345px;
float:left;
padding:0 0 0 15px;
text-align:left;
}
.product_title_big{
color:#ff8a00;
padding:5px 0 5px 0;
font-weight:bold;
font-size:14px;
}
.specifications{
font-size:12px;
font-weight:bold;
line-height:18px;
}
.thumbs{
padding:8px 5px 8px 5px;
border:1px #DFD1D1 solid;
margin:15px 0 0 0;
}
.thumbs a{
padding:3px;
}
.prod_price_big{
padding:5px 0 5px 0;
font-size:16px;
}
a.addtocart{
width:76px;
height:27px;
display:block;
float:left;
background:url(../images/addtocart.gif) no-repeat left;
padding:0 0 0 33px;
text-decoration:none;
line-height:27px;
color:#1c4a52;
}
a.compare{
width:76px;
height:27px;
display:block;
float:left;
margin:0 0 0 10px;
background:url(../images/compare.gif) no-repeat left;
padding:0 0 0 33px;
text-decoration:none;
line-height:27px;
color:#1c4a52;
}
span.blue{
color:#159DCC;
}
/*---------------contact_form------------------*/
.contact_form{
width:355px;
float:left;
padding:0px 0 0 75px;
}
.form_row{
width:335px;
clear:both;
padding:10px 0 10px 0;
color:#a53d17;
}
label.contact{
width:75px;
float:left;
font-size:12px;
text-align:right;
padding:4px 5px 0 0;
color: #333333;
}
input.contact_input{
width:253px;
height:18px;
background-color:#fff;
color:#999999;
border:1px #DFDFDF solid;
float:left;
}
textarea.contact_textarea{
width:253px;
height:100px;
font-family:Arial, Helvetica, sans-serif;
font-size:12px;
color: #999999;
background-color:#fff;
border:1px #DFDFDF solid;
float:left;
}
a.contact{
width:99px;
height:27px;
display:block;
float:right;
margin:0 0 0 10px;
background:url(../images/contact_bt.gif) no-repeat left;
padding:0 0 0 10px;
text-decoration:none;
line-height:27px;
color:#1c4a52;
}
/*--------------footer----------------*/
.footer{
width:100%;
clear:both;
height:65px;
background:url(../images/footer_bg.gif) repeat-x top;
}
.left_footer{
float:left;
width:300px;
padding:5px 0 0 10px;
}
.right_footer{
float:right;
padding:15px 30px 0 0;
}
.right_footer a{
padding:0 0 0 7px;
text-decoration:none;
color: #666666;
}
.right_footer a:hover{
text-decoration:underline;
}

.center_footer{
float:left;
width:200px;
text-align:center;
color:#666666;
padding:10px 0 0 60px;
}
/*edit style*/
.main-content
{
	width:100%;
	margin:0px !important;
}
.left-content-re,.center-content-re,.right-content-re
{
	float: left;
}
.left-content-re,.right-content-re
{
	padding:15px;
}
.center-content-re
{
	margin:15px 0px;
	padding:0px !important;
}
.con-left
{
	display:block;
	width:100%;
	border-top:0px;
	margin-bottom: 15px;
}
.con-left .title-name
{
	display:block;
	width:100%;
	background-color: #E1E1E1;
	border:1px solid #E1E1E1;
	text-align: left;
	border-top-right-radius: 4px;
    border-top-left-radius: 4px;
}
.con-left .title-name p
{
	padding:7px 10px;
	color:#159DCC;
	margin:0px;
}
.con-left ul
{
	list-style: none;
	display: block;
	width:100%;
	padding:0px;
	margin:0px;
	webkit-box-shadow: 0 1px 2px rgba(0,0,0,.075);
    box-shadow: 0 1px 2px rgba(0,0,0,.075);
}
.con-left ul li
{
	display: block;
	width:100%;
	border: 1px solid #ecf0f1;
	border-top:0px;
}
.con-left ul li a
{
	display: block;
	padding: 8px 10px;
	color:#333;
	    text-decoration: none;
}
.con-left ul li a:hover
{
	background-color: #ECECEC;
}
/*center*/
.show-product
{
	float:left;
	width:100%;
	margin:0px !important;
	padding-top:0px;
}
.button-show-bar
{
	display: none;
	width:100%;
	text-align: right;
}
.button-show-bar i
{
	padding: 10px;
	color:white;
	cursor: pointer;
}
.pdtop-10
{
	padding-top:10px;
}
.center_prod_box:hover .center-prod-ct
{
	display: block;
}
.center-prod-ct
{
	position: absolute;
	width:100%;
	top:0px;
	left:0px;
	display: none;

}
.center-prod-ct a
{
	width:100%;
	display:block;
	background-color:rgba(0,0,0,0.5);
}
.center-prod-ct a .cen-ct-con
{
	width:100%;
	padding:10px;
	height: 145px;
	text-align: left;
}
.center-prod-ct a .cen-ct-con ul,.center-prod-ct a .cen-ct-con ul li
{
	width:100%;
	display:block;
	text-align: left;
	padding: 0px;
	margin:0px;
	text-decoration: none;
	border: 0px !important;
}
.center-prod-ct a .cen-ct-con ul li
{
	color:white;
	text-align: left;
	font-size: 12px;
}
.cont-product
{
	width:100%;
}
.left-content-re > p
{
	display: block;
	width:100%;
	text-align: left;
	color:#9CA59C;
	font-size:13pt;
	padding:10px 0px;
	margin:0px;
}
.menu > li > a:hover,ul.menu > li > a:active,ul.menu > li > a:visited
{
	background-color: white;
}
.min-width-ul
{
	min-width:500px !important;
}
.multi-menu li .main-con-menu
{
	width:100%;
}
.main-con-menu .item-cont-menu p
{
	display: block;
	width:100%;
	margin: 0px;
	padding:0px 10px;
}
.main-con-menu .item-cont-menu ul
{
	display: block;
	width:100%;
	padding: 0px;
}
.main-con-menu .item-cont-menu ul li,.main-con-menu .item-cont-menu ul li a
{
	display: block;
	width: 100%;
}
.main-con-menu .item-cont-menu ul li a,.main-con-menu .item-cont-menu ul li a i
{
	color: black;
	padding-left: 10px;
}
.main-con-menu .item-cont-menu ul li a i
{
	padding-right: 10px;
}
/*reponsive*/
@media only screen and (max-width: 992px) {
    .container {
    	width: 100% !important;
    	padding:0px;
	}
	.left-content-re,.right-content-re
	{
		display:none;
	}
	
}
@media only screen and (max-width: 768px) {
	.pdright-10-im
	{
		padding-right:0px !important;
	}

	}
	@media only screen and (max-width: 880px) {
		.menu li
		{
			display: block;
			width:100%;
		}
		.button-show-bar
		{
			display: block;
		}
		ul.menu
		{
			display: none;
		}
		
	}
.pdrl-10-im
{
	padding:0px 10px !important;
}
/*end*/